<div class="view-places">
<div class="view-content">
<div class="grid-card desktop-3-col tablet-2-col mobile-1-col">
  <a href="/neighborhood/allston">
    <div class="grid-card__image"> 
      <img typeof="foaf:Image" src="https://www.boston.gov/sites/default/files/styles/grid_card_image/public/allston2.jpg?itok=jMsIfnJ6" width="720" height="300" alt="allston" title="allston">
    </div>
    <div class="grid-card__text">
      <h3 class="grid-card__title">Allston</h3>
      <div class="grid-card__description">
        <div class="intro-text">Learn more about one of Boston’s most diverse and active neighborhoods.</div>
      </div>
    </div>
  </a>
</div>
</div>
</div>
