<div class="view-places">
  <div class="view-content">
    {% if include.arg[0].grid_title %}
    <br />
    <div class="sh desktop-100">
      <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">{{ include.arg[0].grid_title }}</h2>
    </div>
    <br />
    {% endif %}
    <div class="grid-wrapper clearfix">
    {% for item in include.arg %}
      {% if item.title and item.img and item.body %}
      <div class="grid-card desktop-3-col tablet-2-col mobile-1-col">
        {% if item.link.external %}
        <a href="{{ item.link.path }}">
        {% else %}
        <a href="{{ site.url }}{{ item.link }}">
        {% endif %}
          <div class="grid-card__image"> 
            <img typeof="foaf:Image" src="{{ site.url }}{{ item.img }}" width="720" height="300" alt="{{ item.title }}" title="{{ item.title }}">
          </div>
          <div class="grid-card__text">
            <h3 class="grid-card__title">{{ item.title }}</h3>
            <div class="grid-card__description">
              <div class="intro-text">{{ item.body | truncate: 105 }}</div>
            </div>
          </div>
        </a>
      </div>
      {% elsif item.card %}
        {% for pg in site.pages %}
          {% if pg.permalink == item.card %}
            {% if pg.card %}
              <div class="grid-card desktop-3-col tablet-2-col mobile-1-col">
                {% if pg.card[0].link.external %}
                <a href="{{ pg.card[0].link.path }}">
                {% else %}
                <a href="{{ site.url }}{{ pg.card[0].link }}">
                {% endif %}
                  <div class="grid-card__image"> 
                    <img typeof="foaf:Image" src="{{ site.url }}{{ pg.card[0].img }}" width="720" height="300" alt="{{ pg.card[0].title }}" title="{{ pg.card[0].title }}">
                  </div>
                  <div class="grid-card__text">
                    <h3 class="grid-card__title">{{ pg.card[0].title }}</h3>
                    <div class="grid-card__description">
                      <div class="intro-text">{{ pg.card[0].body | truncate: 105 }}</div>
                    </div>
                  </div>
                </a>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% for chapter in site.chapters %}
          {% if chapter.permalink == item.card %}
            {% if chapter.card %}
              <div class="grid-card desktop-3-col tablet-2-col mobile-1-col">
                <a href="{{ site.url }}{{ chapter.permalink }}">
                  <div class="grid-card__image"> 
                    <img typeof="foaf:Image" src="{{ site.url }}{{ chapter.card[0].img }}" width="720" height="300" alt="{{ chapter.card[0].title }}" title="{{ chapter.card[0].title }}">
                  </div>
                  <div class="grid-card__text">
                    <h3 class="grid-card__title">{{ chapter.card[0].title }}</h3>
                    <div class="grid-card__description">
                      <div class="intro-text">{{ chapter.card[0].body | truncate: 105 }}</div>
                    </div>
                  </div>
                </a>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
