<div class="node-type-tabbed-content">
  <div class="main">
    <div class="container">
      <section class="main-content" id="content" role="main">

<input id="tabMenuCTRL" name="tab-menu-ctrl" class="tab-menu-ctrl" aria-hidden="true" type="checkbox"></input>
<input id="tabCTRL0" name="tab-ctrl" class="tab-ctrl tab-ctrl-0" data-href="#greeting-letters" checked="" aria-hidden="true" type="radio"></input>
<input id="tabCTRL1" name="tab-ctrl" class="tab-ctrl tab-ctrl-1" data-href="#citations" aria-hidden="true" type="radio"></input>
<input id="tabCTRL2" name="tab-ctrl" class="tab-ctrl tab-ctrl-2" data-href="#proclamations" aria-hidden="true" type="radio"></input>
<input id="tabCTRL3" name="tab-ctrl" class="tab-ctrl tab-ctrl-3" data-href="#proclamations" aria-hidden="true" type="radio"></input>
<div class="hro hro--d hro--wh b--fw">
        <div class="hero-image fullwidth">
          <div class="hero-image-wrapper hero-image-wrapper--no-overlay">
            <img src="/sites/all/themes/custom/boston_public/dist/img/default-hero-image.svg" />
          </div>
        </div>

        <div class="title-wrapper">
          <div class="title-inner-wrapper">
            <h1 class="title-with-hero">{{ site.title }}</h1>
            <div class="title-body supporting-text">
              <p>{{ site.description }}</p>
            </div>
          </div>
        </div>

        {% include tabs.html %}
</div>
      </section>
    </div>
  </div>
</div>
