<div class="node-type-tabbed-content">
  <div class="main">
    <div class="container">
      <section class="main-content" id="content" role="main">

        <div class="hero-image fullwidth">
          <div class="hero-image-wrapper hero-image-wrapper--no-overlay">
            <img src="/sites/all/themes/custom/boston_public/dist/img/default-hero-image.svg" />
          </div>
        </div>

        <div class="title-wrapper">
          <div class="title-inner-wrapper">
            <h1 class="title-with-hero">{{ site.title }}</h1>
            <div class="title-body supporting-text">
              <p>{{ site.description }}</p>
            </div>
          </div>
        </div>

        {% include tabs.html %}

      </section>
    </div>
  </div>
</div>
