<div class="intro clearfix">
{% if include.arg[0].sidebar_menu %}
  <div class="column mobile-100 desktop-66-left">
{% endif %}

<h1 class="title">{{ include.arg[1][0].title }}{{ include.arg[0].title }}</h1>
<div class="intro-text supporting-text squiggle-border-bottom">
  <p>{{ include.arg[0].short_desc }}</p>
</div>

<div class="body">
  {% for item in include.arg[0].description %}
    {% if item.link %}
    <a href="{{ site.url }}{{ item.link.path }}" {% if item.link.button %}class="button"{% endif %}>{{ item.link.title }}</a>
    {% elsif item.blurb %}
      {{ item.blurb }}
    {% else %}
      {{ item }}
    {% endif %}
  {% endfor %}
</div>

{% if include.arg[0].sidebar_menu %}
  </div>
  {% include sidebar_menu.html %}
{% endif %}
</div>
