<div class="intro clearfix">
{% if include.arg[0].sidebar_menu %}
  <div class="column mobile-100 desktop-66-left">
{% endif %}

<h1 class="title">{{ include.arg[1][0].title }}{{ include.arg[0].title }}</h1>
<div class="intro-text supporting-text squiggle-border-bottom">
  <p>
  {% for item in include.arg[0].short_desc %}
    {% if item.link %}
    <a href="{{ site.url }}{{ item.link.path }}" {% if item.link.button %}class="button"{% endif %}>{{ item.link.title }}</a>
    {% elsif item.linked_image %}
      {% if item.linked_image.local %}
        <a href="{{ site.url }}{{ item.linked_image.link }}"><img src="{{ site.url }}{{ item.linked_image.img }}" /></a>
      {% else %}
        <a href="{{ item.linked_image.link }}" target="_blank" rel="noopener noreferrer"><img src="{{ site.url }}{{ item.linked_image.img }}" /></a>
      {% endif %}
    {% elsif item.blurb %}
      {{ item.blurb }}
    {% else %}
      {{ item }}
    {% endif %}
  {% endfor %}
  </p>
</div>

<div class="body">
  {% for item in include.arg[0].description %}
    {% if item.link %}
    <a href="{{ site.url }}{{ item.link.path }}" {% if item.link.button %}class="button"{% endif %}>{{ item.link.title }}</a>
    {% elsif item.blurb %}
      {{ item.blurb }}
    {% else %}
      {{ item }}
    {% endif %}
  {% endfor %}
</div>

{% if include.arg[0].sidebar_menu %}
  </div>
  {% include sidebar_menu.html %}
{% endif %}
</div>
