<div class="column mobile-100 desktop-33-right">
  <div class="contact-info">
    <span class="field field-name-field-contact field-type-entityreference field-label-hidden">
      <div class="article-contact">
        <address>
        <h5 class="contact-title"><a href="/departments/mayors-office">Mayor's Office</a></h5>
          <div class="list-item">
        <div class="detail-item detail-item--middle">
    <div class="detail-item__left">
    <div class="icon-phone"></div>  </div>
    <div class="detail-item__content">
            <div class="detail-item__body detail-item__body--secondary">
              <a href="tel:617-635-4500">617-635-4500</a>
          </div>
      </div>
</div>
      </div>
              <div class="list-item">
        <div class="detail-item detail-item--middle">
    <div class="detail-item__left">
    <div class="icon-email"></div>  </div>
    <div class="detail-item__content">
            <div class="detail-item__body detail-item__body--secondary">
              <a href="mailto:mayor@boston.gov">mayor@boston.gov</a>          </div>
      </div>
</div>
      </div>
              <div class="list-item">
        <div class="detail-item ">
    <div class="detail-item__left">
    <div class="icon-location"></div>  </div>
    <div class="detail-item__content">
            <div class="detail-item__body detail-item__body--secondary">
              <div class="street-block"><div class="thoroughfare">1 City Hall Square, Suite 500</div></div><div class="addressfield-container-inline locality-block country-US"><span class="locality">Boston</span>, <span class="state">MA</span> <span class="postal-code">02201-2013</span></div><span class="country">United States</span>          </div>
      </div>
</div>
      </div>
      </address>
</div>
</span>
              </div>
          </div>
