<div class="column mobile-100 desktop-33-right clearfix">
  <div class="contact-info">
    <span class="field field-name-field-contact field-type-entityreference field-label-hidden">
      <div class="article-contact">
        <address>
          <div class="list-item">
            <div class="detail-item detail-item--middle">
              <div class="detail-item__left">
                <div class="icon-payment"></div>
              </div>
              <div class="detail-item__content">
                <div class="detail-item__body detail-item__body--secondary">
                  <a href="#">How does the budget work?</a>
                </div>
              </div>
            </div>
          </div> <!-- Close list-item -->
          <div class="list-item">
            <div class="detail-item detail-item--middle">
              <div class="detail-item__left">
                <div class="icon-payment"></div>
              </div>
              <div class="detail-item__content">
                <div class="detail-item__body detail-item__body--secondary">
                  <a href="#">Learn about financial management</a>
                </div>
              </div>
            </div>
          </div> <!-- Close list-item -->
          <div class="list-item">
            <div class="detail-item detail-item--middle">
              <div class="detail-item__left">
                <div class="icon-payment"></div>
              </div>
              <div class="detail-item__content">
                <div class="detail-item__body detail-item__body--secondary">
                  <a href="#">Gloassary of Terms</a>
                </div>
              </div>
            </div>
          </div> <!-- Close list-item -->
          <div class="list-item">
            <div class="detail-item detail-item--middle">
              <div class="detail-item__left">
                <div class="icon-download"></div>
              </div>
              <div class="detail-item__content">
                <div class="detail-item__body detail-item__body--secondary">
                  Download Datasets
                </div>
              </div>
            </div>
          </div> <!-- Close list-item -->
          <h5 class="contact-title">Questions? Talk to OBM</h5>
          <div class="list-item">
            <div class="detail-item detail-item--middle">
              <div class="detail-item__left">
                <div class="icon-phone"></div>
              </div>
              <div class="detail-item__content">
                <div class="detail-item__body detail-item__body--secondary">
                  <a href="tel:617-635-4500">617-635-4500</a>
                </div>
              </div>
            </div>
          </div> <!-- Close list-item -->
          <div class="list-item">
            <div class="detail-item detail-item--middle">
              <div class="detail-item__left">
                <div class="icon-email"></div>
              </div>
              <div class="detail-item__content">
                <div class="detail-item__body detail-item__body--secondary">
                  <a href="mailto:budget@boston.gov">budget@boston.gov</a>
                </div>
              </div>
            </div>
          </div> <!-- Close list-item -->
          {% comment %}
          <div class="list-item">
            <div class="detail-item ">
              <div class="detail-item__left">
                <div class="icon-location"></div>
              </div>
              <div class="detail-item__content">
                <div class="detail-item__body detail-item__body--secondary">
                <div class="street-block">
                  <div class="thoroughfare">1 City Hall Square, Suite TBD</div>
                </div>
                <div class="addressfield-container-inline locality-block country-US">
                  <span class="locality">Boston</span>, <span class="state">MA</span> <span class="postal-code">02201-2013</span>
                </div>
                <span class="country">United States</span>
              </div>
            </div>
          </div> <!-- Close list-item -->
          {% endcomment %}
        </address>
      </div> <!-- Close article-contact -->
    </span>
  </div> <!-- Close contact-info -->
</div> <!-- Close column mobile-100 desktop-33-right -->
