<div class="entity entity-paragraphs-item paragraphs-item-photo component-section with-details" about="" typeof="">
  <div class="content">
    <div class="photo-wrapper">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="https://www.boston.gov/sites/default/files/styles/resp_wide_2000x800custom_boston_wide_1x/public/winter_swimming_10.jpg?itok=W91jOE5G&amp;timestamp=1452037695 1x" media="(min-width: 1440px)">
        <source srcset="https://www.boston.gov/sites/default/files/styles/resp_wide_2000x800custom_boston_desktop_1x/public/winter_swimming_10.jpg?itok=xYVYBNsr&amp;timestamp=1452037695 1x, https://www.boston.gov/sites/default/files/styles/resp_wide_2000x800custom_boston_desktop_2x/public/winter_swimming_10.jpg?itok=NqZtb9OS&amp;timestamp=1452037695 2x" media="(min-width: 768px)">
        <source srcset="https://www.boston.gov/sites/default/files/styles/resp_wide_2000x800custom_boston_tablet_1x/public/winter_swimming_10.jpg?itok=JtVHnOam&amp;timestamp=1452037695 1x, https://www.boston.gov/sites/default/files/styles/resp_wide_2000x800custom_boston_tablet_2x/public/winter_swimming_10.jpg?itok=gLJSIfOG&amp;timestamp=1452037695 2x" media="(min-width: 480px)">
        <source srcset="https://www.boston.gov/sites/default/files/styles/resp_wide_2000x800custom_boston_mobile_1x/public/winter_swimming_10.jpg?itok=LRsyV6uX&amp;timestamp=1452037695 1x, https://www.boston.gov/sites/default/files/styles/resp_wide_2000x800custom_boston_mobile_2x/public/winter_swimming_10.jpg?itok=E2Pe84P8&amp;timestamp=1452037695 2x" media="(min-width: 0px)">
        <!--[if IE 9]></video><![endif]-->
        <img src="https://www.boston.gov/sites/default/files/styles/resp_wide_2000x800custom_boston_wide_1x/public/winter_swimming_10.jpg?itok=W91jOE5G&amp;timestamp=1452037695" alt="" title="">
      </picture>
    </div>
    <div class="photo-details">
      <h2 data-short-title="" class="sh-title createNavItem-processed">Winter Swimming at BCYF centers</h2>
      <div class="photo-caption-wrapper">
        <p>When it’s cold outside, our pools are warm! Come visit one of our 15 indoor pools at our community centers.</p>
      </div>
      <div class="call-to-action">
        <div class="paragraphs-items paragraphs-items-field-link paragraphs-items-field-link-full paragraphs-items-full">
          <div class="link-wrapper internal-link">
            <a href="/community-centers" title="Go to BCYF Community Centers">BCYF Community Centers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
