<div class="b b--fw">
  <div class="ph ph--wc">
    <div class="ph-p ph-p--258151892">
      <style>
        @media screen and (max-width: 767px) {
          .ph-p--258151892 {
            background-image: url({{ site.url }}{{ include.arg[0].src }});
          }
        }
        @media screen and (min-width: 768px) {
          .ph-p--258151892 {
            background-image: url({{ site.url }}{{ include.arg[0].src }});
          }
        }
        @media screen and (min-width: 1024px) {
          .ph-p--258151892 {
            background-image: url({{ site.url }}{{ include.arg[0].src }});
          }
        }
        @media screen and (min-width: 1200px) {
          .ph-p--258151892 {
            background-image: url({{ site.url }}{{ include.arg[0].src }});
          }
        }
      </style>
    </div>
    <div class="ph-c p-a600">
      <div class="h2 tt-u m-b200">
        <a name="career-center" data-text="{{ include.arg[0].title }}" class="subnav-anchor"></a>
        <h2 class="sh-title">{{ include.arg[0].title }}</h2>
      </div>
      <div class="t--info m-b200">
        <!-- <p class="supporting-text"> -->
          {% for item in include.arg[0].desc %}
            {% if item.blurb %}
              <span>{{ item.blurb }}</span>
            {% elsif item.link %}
              <a href="{{ site.url }}{{ item.link.url }}">{{ item.link.title }}</a>
            {% else %}
              {{ item }}
            {% endif %}
          {% endfor %}
        <!-- </p> -->
        {% if include.arg[0].link %}
        <p>
          <a class="button" href="{{ site.url }}{{ include.arg[0].link[0].url }}" rel="nofollow">
            {{ include.arg[0].link[0].text }}
          </a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<br />
