<div class="sh desktop-100">
  <h2 data-short-title="{{ page.table.title }}" class="sh-title table-title">{{ include.arg[0].title }}</h2>
  {% if include.arg[0].right_text %}
    <div class="sh-contact">
      {% if include.arg[0].right_text.name and include.arg[0].right_text.link %}
      <a href="{{ site.url }}{{ include.arg[0].right_text.link }}">{{ include.arg[0].right_text.name }}</a>
      {% else %}
        {{ include.arg[0].right_text }}
      {% endif %}
    </div>
  {% endif %}
</div>
<br />
<table class="js-table responsive-table responsive-table--horizontal">
  <thead>
    <tr>
      {% for key in include.arg[0].columns[0] %}
        {% if key[1].align == 'left' %}
          <th class="table-left">{{ key[0] }}</td>
        {% else %}
          <th>{{ key[0] }}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in include.arg[0].columns %}
      {% if row.total %}
      <tr class="total">
      {% else %}
      <tr>
      {% endif %}
        {% for column in row %}
          {% if column[1].name and column[1].link %}
            <td data-label="{{ column[0] }}"><a href="{{ site.url }}{{ column[1].link }}">{{ column[1].name }}</a></td>
          {% elsif column[1].filter == 'money' %}
            <td data-label="{{ column[0] }}">${{ column[1].value | thousands_separated }}</td>
          {% elsif column[1].filter == 'delimiter' %}
            <td data-label="{{ column[0] }}">{{ column[1].value | thousands_separated }}</td>
          {% elsif column[1].filter == 'percent' %}
            <td data-label="{{ column[0] }}">{{ column[1].value | append: "%" }}</td>
          {% elsif column[1].align == 'left' %}
            <td data-label="{{ column[0] }}" class="table-left">{{ column[1].value }}</td>
          {% elsif column[0] != 'total' %}
            <td data-label="{{ column[0] }}">{{ column[1] }}</td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<br />
