<div class="sh desktop-100">
  <h2 data-short-title="{{ page.table.title }}" class="sh-title table-title">{{ page.table[0].title }}</h2>
</div>
<br />
<table class="js-table responsive-table responsive-table--horizontal">
  <thead>
    <tr>
      {% for key in include.arg[1][0].columns[0] %}
        <th>{{ key[0] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in include.arg[1][0].columns %}
      <tr>
        {% for column in row %}
          {% if column[1].name and column[1].link %}
            <td><a href="{{ site.url }}{{ column[1].link }}">{{ column[1].name }}</a></td>
          {% else %}
            <td>{{ column[1] }}</td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<br />
