<ul class="tabs content-section-tabs">
  <li data-tab="remote" class="tabs__tab">
    <a href="/" class="tabs__tab-link">Executive Summary</a>
  </li>
  <li data-tab="local" class="tabs__tab">
    <a href="/featured_analysis" class="tabs__tab-link">Featured Analysis</a>
  </li>
  <li data-tab="remote" class="tabs__tab">
    <a href="/capital_projects" class="tabs__tab-link">Capital Projects</a>
  </li>
  <li data-tab="local" class="tabs__tab">
    <a href="/spending" class="tabs__tab-link">Spending</a>
  </li>
</ul>
