<ul class="tabs content-section-tabs">
  <li data-tab="remote" class="tabs__tab">
    <a href="http://mysafeinfo.com/api/data?list=presidents&format=json" class="tabs__tab-link report">Executive Summary</a>
  </li>
  <li data-tab="local" class="tabs__tab">
    <a href="http://localhost:3000/test.json" class="tabs__tab-link report">Featured Analysis</a>
  </li>
  <li data-tab="remote" class="tabs__tab">
    <a href="http://mysafeinfo.com/api/data?list=presidents&format=json" class="tabs__tab-link report">Capital Projects</a>
  </li>
  <li data-tab="local" class="tabs__tab">
    <a href="http://localhost:3000/test.json" class="tabs__tab-link report">Spending</a>
  </li>
</ul>
