<ul class="tab">
  <li class="tab-li tab-li-0">
    <label for="tabMenuCTRL" class="tab-li-m" aria-hidden="true">Executive Summary</label>
    <a href="{{ site.url }}/" for="tabCTRL0" class="tab-li-a tab-li-a-0">
        Executive Summary
    </a>
  </li>
  <li class="tab-li tab-li-1">
    <label for="tabMenuCTRL" class="tab-li-m" aria-hidden="true">Featured Analysis</label>
    <a href="{{ site.url }}/featured-analysis" for="tabCTRL1" class="tab-li-a tab-li-a-1">
      Featured Analysis
    </a>
  </li>
  <li class="tab-li tab-li-2">
    <label for="tabMenuCTRL" class="tab-li-m" aria-hidden="true">Capital Projects</label>
    <a href="{{ site.url }}/capital-projects" for="tabCTRL2" class="tab-li-a tab-li-a-2">
      Capital Projects
    </a>
  </li>
  <li class="tab-li tab-li-3">
    <label for="tabMenuCTRL" class="tab-li-m" aria-hidden="true">Operating Budget</label>
    <a href="{{ site.url }}/operating-budget" for="tabCTRL3" class="tab-li-a tab-li-a-3">
      Operating Budget
    </a>
  </li>
  <li class="tab-li tab-li-close" style="display: none;">
    <label for="tabMenuCTRL" class="tab-li-a tab-li-a--c" aria-hidden="true">
      Close
    </label>
  </li>
</ul>
