<div class="clearfix">
{% if include.arg[0].title %}
<br />
<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
    {{ include.arg[0].title }}
  </h2>
</div>
{% endif %}
{% if include.arg[0].right_image %}
<div class="desktop-66-left">
{% else %}
<div class="desktop-100">
{% endif %}
<p>
  {% for item in include.arg[0].body %}
    {% if item.link %}
      <a href="{{ site.url }}{{ item.link.path }}" {% if item.link.button %}class="button"{% endif %}>{{ item.link.title }}</a>
    {% elsif item.blurb %}
      <p>{{ item.blurb }}</p>
    {% elsif item.img %}
      <img src="{{ site.url }}{{ item.img }}" />
    {% elsif item.bullets %}
      <ul>
        {% for bullet in item.bullets %}
          <li>{{ bullet }}</li>
        {% endfor %}
      </ul>
    {% elsif item.numbers %}
      <ol>
        {% for number in item.numbers %}
          <li>{{ number }}</li>
        {% endfor %}
      </ol>
    {% else %}
      {% for paragraph in item %}
        <p>{{ paragraph }}</p>
      {% endfor %}
    {% endif %}
  {% endfor %}
</p>
</div>
{% if include.arg[0].right_image %}
<div class="desktop-33">
  <img src="{{ site.url }}{{ include.arg[0].right_image }}" />
</div>
{% endif %}
</div>
