<div class="clearfix">
{% if include.arg[0].title %}
<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
    {{ include.arg[0].title }}
  </h2>
</div>
{% endif %}
{% if include.arg[0].right_image %}
<div class="desktop-66-left">
{% else %}
<div class="desktop-100">
{% endif %}
<p>
  {% for item in include.arg[0].body %}
    {% if item.link %}
      <a href="{{ site.url }}{{ item.link.path }}" {% if item.link.button %}class="button"{% endif %}>{{ item.link.title }}</a>
    {% elsif item.blurb %}
      {{ item.blurb }}
    {% elsif item.img %}
    <img src="{{ site.url }}{{ item.img }}" />
    {% else %}
      {{ item }}
    {% endif %}
  {% endfor %}
</p>
</div>
{% if include.arg[0].right_image %}
<div class="desktop-33">
  <img src="{{ site.url }}/{{ include.arg[0].right_image }}" />
</div>
{% endif %}
</div>
