<article>
  <div class="paragraphs-items paragraphs-items-field-text-blocks paragraphs-items-field-text-blocks-full paragraphs-items-full clearfix">
    <div class="entity entity-paragraphs-item paragraphs-item-text-three-column component-section" about="" typeof="">
      <div class="content">
        {% for column in include.arg | limit: 3 %}
          <div class="field field-name-field-left-column field-type-text-long field-label-hidden">
            {{ column.col }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</article>
