/*
  YOUR CSS, POWERED BY STYLUS, GOES HERE
*/

/**************/
/*** Tables ***/
/**************/
table.responsive-table tbody tr.total {
  background-color: #091F2F;
  color: white;
}
table.responsive-table tbody tr.subtotal {
  background-color: #58585B;
  color: white;
}

/**************/
/*** Charts ***/
/**************/
.responsive-table.chart-label {
  height: 65px;
  th {
    padding: 0 20px;
  }
}

/************/
/*** Tabs ***/
/************/
div#page {
  /* Style from page--wa page--nm classes not included in API */
  padding-top: 3.5rem;
}
@media (min-width: 1280px) {
li.tab-li {
  width: 24%;
}
}
@media (min-width: 840px) {
a.tab-li-a {
  color: white;
}
a.tab-li-a:active {
  background-color: #091F2F;
}
h1.hro-t {
  padding-right: 40px;
  padding-left: 40px;
}
}
@media (max-width: 839px) {
a.tab-li-a {
  color: black;
  &:active {
    background-color: white;
  }
}
}
/**************/
/*** Tables ***/
/**************/
.responsive-table {
  thead, tbody {
    th, td {
      &.table-right {
        text-align: right;
      }
    }
  }
}

/**************/
/*** Images ***/
/**************/
.image-component {
  .text-right { text-align: right; }
  .text-left { text-align: left; }
  .text-center {text-align: center; }
}

/*********************/
/*** Anchor Offset ***/
/*********************/
.anchor-offset:target:before {
  content:"";
  display:block;
  height:60px; /* fixed header height*/
  margin:-60px 0 0; /* negative fixed header height */
}
