/*
  YOUR CSS, POWERED BY STYLUS, GOES HERE
*/

/**************/
/*** Tables ***/
/**************/
.responsive-table {
  thead {
    tr {
      th {
        &:first-of-type,
        &.table-left {
          text-align: left;
        }
        text-align: right;
        padding: 9px;
      }
    }
  }
  th {
    line-height: 1.5;
    padding: 5px;
  }
  tbody {
    color: #091F2F;
    tr {
      &:nth-child(odd) {
        background-color: #F2F2F2;
      }
      td {
        &:first-of-type,
        &.table-left {
          text-align: left;
          font-style: italic;
        }
        border: none;
        text-align: right;
      }
    }
    tr.total {
      background-color: #091F2F;
      color: white;
    }
    tr.subtotal {
      background-color: #58585B;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.responsive-table tbody tr td:first-of-type,
.responsive-table tbody tr td.table-left {
  text-align: right;
}
}

/**************/
/*** Charts ***/
/**************/
.responsive-table.chart-label {
  min-height: 65px;
  th {
    padding: 0 20px;
  }
}

/************/
/*** Tabs ***/
/************/
div#page {
  /* Style from page--wa page--nm classes not included in API */
  padding-top: 3.5rem;
}
@media (min-width: 1280px) {
li.tab-li {
  width: 24%;
}
}
@media (min-width: 840px) {
a.tab-li-a {
  color: white;
}
a.tab-li-a:active {
  background-color: #091F2F;
}
h1.hro-t {
  padding-right: 40px;
  padding-left: 40px;
}
}
@media (max-width: 839px) {
a.tab-li-a {
  color: black;
  &:active {
    background-color: white;
  }
}
}
