---
layout: bos_wrapper
---

{% include hero.html %}

{% for component in page %}

  {% assign i = (component[0] | replace: '+','') %}

  {% if i == "breadcrumbs" %}
    {% include breadcrumbs.html arg=component %}
  {% endif %}

  {% if i == "text_block" %}
    {% include text_block.html arg=component %}
  {% endif %}

{% endfor %}

{% comment %}

  {% if page.title and page.breadcrumbs and page.published %}
    {% include breadcrumbs.html %}
  {% endif %}

  {% if page.title and page.short_desc and page.description %}
    {% include intro.html %}
  {% endif %}

  {% if page.text_block %}
    {% include text_block.html %}
  {% endif %}

  {% if page.spanning_image %}
    {% include spanning_image.html %}
  {% endif %}

  {% if page.js_table %}
    {% include js_table.html %}
  {% endif %}

{% endcomment %}
