---
layout: bos_wrapper
---

{% include hero.html %}

<div class="breadcrumb">
  <a href="/">Home</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="/budget">Budget</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="{{ site.url }}/operating-budget">Operating Budget</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="{{ site.url }}/operating-budget/cabinets">Cabinets</a>
  <span class="crumbs-separator"> &gt; </span>
  {{ page.name }}
</div>
<div class="breadcrumb-last-updated">
  Last updated:
  <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2017-04-13T00:00:00-04:00">4/13/17</span>
</div>

<div class="intro clearfix">
  <div class="column mobile-100 desktop-66-left">
    <h1 class="title">{{ page.name }}</h1>
    <div class="squiggle-border-bottom">
      <p>
        {{ page.mission }}
      </p>
      <br />
    </div>
    <div>
      <h5>
        <span>{{ page.head_name }},</span>
        <span>{{ page.head_title }}</span>
      </h5>
    </div>
  </div>
  {% include sidebar_menu.html %}
</div>

<div class="body">
  {% for paragraph in page.overview %}
    <p>{{ paragraph }}</p>
  {% endfor %}
</div>

<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
    Appropriations By Department
  </h2>
  <div class="sh-contact"><a href="{{ site.url }}/operating-budget/cabinets">Back to Cabinets</a></div>
</div>
<br />
<table class="js-table responsive-table responsive-table--horizontal">
  <thead>
    <tr>
      <th>{{ page.operating_department["Program Name"] }}</th>
      <th>{{ page.operating_department.fy-2 }}</th>
      <th>{{ page.operating_department.fy-1 }}</th>
      <th>{{ page.operating_department.fy-0 }}</th>
      <th>{{ page.operating_department["fy+1"] }}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in page.operating_department.data %}
      {% if row.total %}
        <tr class="total">
          <td data-label="All Departments">
            <strong>
              {{ row.total }}
            </strong>
          </td>
      {% else %}
        <tr>
          <td data-label="Department">
            <a href="{{ site.url }}/operating-budget/cabinets/{{ page.name | replace: "'","" | slugify }}/{{ row.department | replace: "'","" | slugify }}">
              {{ row.department }}
            </a>
          </td>
      {% endif %}
          <td data-label="{{ page.operating_department.fy-2 }}">
            {{ row.fy-2 | thousands_separated }}
          </td>
          <td data-label="{{ page.operating_department.fy-1 }}">
            {{ row.fy-1 | thousands_separated }}
          </td>
          <td data-label="{{ page.operating_department.fy-0 }}">
            {{ row.fy-0 | thousands_separated }}
          </td>
          <td data-label="{{ page.operating_department['fy+1'] }}">
            {{ row["fy+1"] | thousands_separated }}
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br /><br />

<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
    Graphs Showing Trends
  </h2>
</div>
<br />

<div class="desktop-100 clearfix">
<div class="desktop-50">
  <div id="totalLineChart-wrapper">
    <table class="responsive-table chart-label">
      <th>
        {{ page.external_funds_tables.data[-1].total }} {{ page.name }} Operating Budget
      </th>
    </table>
    <canvas
      id="lineChart"
      class="lineChart"
      width="200"
      height="200"
      large=true
      data-title="{{ page.name }}"
      data-labels="
        {{ page.operating_department.fy-2 | truncate: 4, "" }},
        {{ page.operating_department.fy-1 | truncate: 4, "" }},
        {{ page.operating_department.fy-0 | truncate: 4, "" }},
        {{ page.operating_department['fy+1'] | truncate: 4, "" }}
      "
      data="
        {% for i in page.operating_department.data[-1] %}
          {% if i[0] != 'line_type' and i[0] != 'total' %}
          {{ i[1] }}{% unless forloop.last %},{% endunless %}
          {% endif %}
        {% endfor %}
      "
    ></canvas>
  </div>
</div>
<div class="desktop-50">
  <div id="aggregateBarChart-wrapper">
    <table class="responsive-table chart-label">
      <th>{{ page.name }} Operating Budget by Department</th>
    </table>
    <canvas
      id="aggregateBarChart"
      class="barChart"
      width="200"
      height="200"
      data-labels='
      {% for row in page.operating_department.data %}
        {% if row.line_type == "data" %}
          {{ row.department | remove: "'" }}
          {% assign i = forloop.length | minus: 1 %}{% unless forloop.index == i %}, {% endunless %}
        {% endif %}
      {% endfor %}
      '
      data='
      {% for row in page.operating_department.data %}
        {% if row.line_type == "data" %}
          {{ row["fy+1"] }}
          {% assign i = forloop.length | minus: 1 %}{% unless forloop.index == i %}, {% endunless %}
        {% endif %}
      {% endfor %}
      '
    ></canvas>
  </div>
</div>
</div>

<div class="g">
{% for row in page.operating_department.data %}
  {% if row.line_type == 'data' %}
    <div class="wi g--4">
      <table class="responsive-table chart-label">
        <th>{{ row.department }}</th>
      </table>
      <canvas
        id="lineChart"
        class="lineChart"
        width="200"
        height="200"
        data-title=""
        data-labels="
          {{ page.operating_department.fy-2 | truncate: 4, "" }},
          {{ page.operating_department.fy-1 | truncate: 4, "" }},
          {{ page.operating_department.fy-0 | truncate: 4, "" }},
          {{ page.operating_department['fy+1'] | truncate: 4, "" }}
        "
        data="{{ row.fy-2 }}, {{ row.fy-1 }}, {{ row.fy-0 }}, {{ row['fy+1'] }}"
      ></canvas>
    </div>
  {% endif %}
{% endfor %}
</div>
<br /><br />

{% if page.external_funds_tables %}
  <div class="sh desktop-100">
    <h2 class="sh-title createNavItem-processed">
      External Funds By Department
    </h2>
  </div>
  <br />
  <table class="js-table responsive-table responsive-table--horizontal">
    <thead>
      <tr>
        <th>{{ page.external_funds_tables.table_header.title }}</th>
        <th>{{ page.external_funds_tables.table_header.fy-2 }}</th>
        <th>{{ page.external_funds_tables.table_header.fy-1 }}</th>
        <th>{{ page.external_funds_tables.table_header.fy-0 }}</th>
        <th>{{ page.external_funds_tables.table_header["fy+1"] }}</th>
      </tr>
    </thead>
    <tbody>
      {% for row in page.external_funds_tables.data %}
        {% if row.total %}
          <tr class="total">
            <td data-label="All Departments"><strong>{{ row.total }}</strong></td>
        {% else %}
          <tr>
            <td data-label="Department"><a href="{{ site.url }}/operating-budget/cabinets/{{ page.name | replace: "'","" | slugify }}/{{ row.title | replace: "'","" | slugify }}">{{ row.title }}</a></td>
          {% endif %}
          <td data-label="{{ page.external_funds.tables_header.fy-2 }}">
            {{ row.fy-2 | thousands_separated }}
          </td>
          <td data-label="{{ page.external_funds_tables.table_header.fy-1 }}">
            {{ row.fy-1 | thousands_separated }}
          </td>
          <td data-label="{{ page.external_funds_tables.table_header.fy-0 }}">
            {{ row.fy-0 | thousands_separated }}
          </td>
          <td data-label="{{ page.external_funds_tables.table_header['fy+1'] }}">
            {{ row["fy+1"] | thousands_separated }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
  <div class="body">
    <a href="{{ site.url }}/featured-analysis/external-funds/" class="button">Learn more about external funds</a>
  </div>
  <br />
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script src="{{ site.url }}/js/bos-charts.js" type="text/javascript"></script>
