---
layout: bos_wrapper
---

{% include hero.html %}

<div class="breadcrumb">
  <a href="/">Home</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="/budget">Budget</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="{{ site.url }}/operating-budget">Operating Budget</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="{{ site.url }}/operating-budget/cabinets">Cabinets</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="{{ site.url }}/operating-budget/cabinets/{{ page.cabinet | replace: "'","" | slugify }}">{{ page.cabinet }}</a>
  <span class="crumbs-separator"> &gt; </span>
  {{ page.name }}
</div>
<div class="breadcrumb-last-updated">
  Last updated:
  <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2017-04-13T00:00:00-04:00">4/13/17</span>
</div>

<div class="intro clearfix">
  <div class="column mobile-100 desktop-66-left">
    <h1 class="title">{{ page.name }}</h1>
    <div class="squiggle-border-bottom">
      <p>
        {{ page.mission }}
      </p>
      <br />
    </div>
    <div class="body">
      <h5>
        {% if page.head_name %}<strong><span>{{ page.head_name }},</span></strong>{% endif %}
        {% if page.head_title %}<strong><span>{{ page.head_title }},</span></strong>{% endif %}
        {% if page.appropriation_code %}<strong><span>{{ page.appropriation_code }}</span></strong>{% endif %}
      </h5>
    </div>
  </div>
  {% include sidebar_menu.html %}
</div>
<div>
  {{ page.description_of_services }}
</div>
<br />

{% if page.department_history_by_account %}
  {% comment %}
  **********************
  *** Account Tables ***
  **********************
  {% endcomment %}
  <div class="sh desktop-100">
    <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
      Department budget by account
    </h2>
    <div class="sh-contact">
      <a href="{{ site.url }}/operating-budget/cabinets/{{ page.cabinet | replace: "'","" | slugify }}">
        Back to {{ page.cabinet }} Cabinet
      </a>
    </div>
  </div>
  <br />
  <table class="js-table responsive-table responsive-table--horizontal">
    <thead>
      <tr>
        <th>{{ page.department_history_by_account.table_header.line_type }}</th>
        <th>{{ page.department_history_by_account.table_header.fy-2 }}</th>
        <th>{{ page.department_history_by_account.table_header.fy-1 }}</th>
        <th>{{ page.department_history_by_account.table_header.fy-0 }}</th>
        <th>{{ page.department_history_by_account.table_header["fy+1"] }}</th>
        <th>{{ page.department_history_by_account.table_header.diff }}</th>
      </tr>
    </thead>
    <tbody>
      {% for row in page.department_history_by_account.data %}
        {% if row.line_type == 'total' %}
          <tr class="total">
            <td>
              <strong>
                {{ row.line_title }}
              </strong>
            </td>
        {% else %}
          <tr>
            <td>{{ row.line_title }}</td>
          {% endif %}
          <td>{{ row.fy-2 | thousands_separated }}</td>
          <td>{{ row.fy-1 | thousands_separated }}</td>
          <td>{{ row.fy-0 | thousands_separated }}</td>
          <td>{{ row["fy+1"] | thousands_separated }}</td>
          <td>{{ row.diff | thousands_separated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br /><br />

  {% comment %}
  **********************
  *** Account Charts ***
  **********************
  {% endcomment %}
  <div class="sh desktop-100">
    <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
      Department trends by account
    </h2>
  </div>
  <br />
  <div class="desktop-100 clearfix">
  <div class="desktop-50">
    <div id="totalLineChart-wrapper">
      <table class="responsive-table chart-label">
        <th>
          {{ page.name }} Operating Budget
        </th>
      </table>
      <canvas
        id="lineChart"
        class="lineChart"
        width="200"
        height="200"
        large=true
        data-title="{{ page.name }}"
        data-labels="
          {{ page.department_history_by_account.table_header.fy-2 | truncate: 4, "" }},
          {{ page.department_history_by_account.table_header.fy-1 | truncate: 4, "" }},
          {{ page.department_history_by_account.table_header.fy-0 | truncate: 4, "" }},
          {{ page.department_history_by_account.table_header["fy+1"] | truncate: 4, "" }}
        "
        data="
          {% for row in page.department_history_by_account.data %}
            {% if row.line_type == 'total' %}
              {{ row.fy-2 }},
              {{ row.fy-1 }},
              {{ row.fy-0 }},
              {{ row['fy+1'] }}
            {% endif %}
          {% endfor %}
        "
      ></canvas>
    </div>
  </div>
  <div class="desktop-50">
    <div id="aggregateBarChart-wrapper">
      <table class="responsive-table chart-label"><th>{{ page.name }} Operating Budget by Department</th></table>
      <canvas
        id="aggregateBarChart"
        class="barChart"
        width="200"
        height="200"
        data-labels='
        {% comment %}
          {{ page.department_history_by_account.table_header.fy-2 }},
          {{ page.department_history_by_account.table_header.fy-1 }},
          {{ page.department_history_by_account.table_header.fy-0 }},
        {% endcomment %}
          {{ page.department_history_by_account.table_header["fy+1"] }}
        '
        data='{
          {% for row in page.department_history_by_account.data %}
            {% if row.line_type == "data" %}
              "{{ row.line_title | remove: "'" }}":[
                {{ row.fy-2 }},
                {{ row.fy-1 }},
                {{ row.fy-0 }},
                {{ row["fy+1"] }}
              ]{% assign i = forloop.length | minus: 1 %}{% unless forloop.index == i %}, {% endunless %}
            {% endif %}
          {% endfor %}
        }'
      ></canvas>
    </div>
  </div>
  </div>
  <div class="g">
  {% for row in page.department_history_by_account.data %}
    {% if row.line_type == 'data' %}
      <div class="wi g--4">
        <table class="responsive-table chart-label"><th>{{ row.line_title }}</th></table>
        <canvas
          id="lineChart"
          class="lineChart"
          width="200"
          height="200"
          data-title=""
          data-labels="
            {{ page.department_history_by_account.table_header.fy-2 | truncate: 4, "" }},
            {{ page.department_history_by_account.table_header.fy-1 | truncate: 4, "" }},
            {{ page.department_history_by_account.table_header.fy-0 | truncate: 4, "" }},
            {{ page.department_history_by_account.table_header['fy+1'] | truncate: 4, "" }}
          "
          data="{{ row.fy-2 }}, {{ row.fy-1 }}, {{ row.fy-0 }}, {{ row['fy+1'] }}"
        ></canvas>
      </div>
    {% endif %}
  {% endfor %}
  </div>
  <br /><br />
{% endif %}

{% if page.operating_budget %}
  {% comment %}
  **********************
  *** Program Tables ***
  **********************
  {% endcomment %}
  <div class="sh desktop-100">
    <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
      Appropriations by Program
    </h2>
    <div class="sh-contact"><a href="{{ site.url }}/operating-budget/cabinets/{{ page.cabinet | replace: "'","" | slugify }}">Back to {{ page.cabinet }} Cabinet</a></div>
  </div>
  <br />
  <table class="js-table responsive-table responsive-table--horizontal">
    <thead>
      <tr>
        <th>{{ page.operating_budget.table_header.name }}</th>
        <th>{{ page.operating_budget.table_header.fy-2 }}</th>
        <th>{{ page.operating_budget.table_header.fy-1 }}</th>
        <th>{{ page.operating_budget.table_header.fy-0 }}</th>
        <th>{{ page.operating_budget.table_header["fy+1"] }}</th>
      </tr>
    </thead>
    <tbody>
      {% for row in page.operating_budget.data %}
        {% if row.line_type == 'total' %}
          <tr class="total">
            <td><strong>{{ row.name }}</strong></td>
        {% else %}
          <tr>
            <td>
              <a href="{{ site.url }}/operating-budget/cabinets/{{ page.cabinet | replace: "'","" | slugify }}/{{ page.name | replace: "'","" | slugify }}/{{ row.name | replace: "'","" | slugify }}">
                {{ row.name }}
              </a>
            </td>
        {% endif %}
          <td>{{ row.fy-2 | thousands_separated }}</td>
          <td>{{ row.fy-1 | thousands_separated }}</td>
          <td>{{ row.fy-0 | thousands_separated }}</td>
          <td>{{ row["fy+1"] | thousands_separated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br /><br />

  {% comment %}
  **********************
  *** Program Charts ***
  **********************
  {% endcomment %}
  <div class="sh desktop-100">
    <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
      Department trends by program
    </h2>
  </div>
  <br />
  <div class="desktop-100 clearfix">
  <div class="desktop-50">
    <div id="totalLineChart-wrapper">
      <table class="responsive-table chart-label">
        <th>
          {{ page.name }} Operating Budget
        </th>
      </table>
      <canvas
        id="lineChart"
        class="lineChart"
        width="200"
        height="200"
        large=true
        data-title="{{ page.name }}"
        data-labels="
          {{ page.operating_budget.table_header.fy-2 | truncate: 4, "" }},
          {{ page.operating_budget.table_header.fy-1 | truncate: 4, "" }},
          {{ page.operating_budget.table_header.fy-0 | truncate: 4, "" }},
          {{ page.operating_budget.table_header["fy+1"] | truncate: 4, "" }}
        "
        data="
          {% for row in page.operating_budget.data %}
            {% if row.line_type == 'total' %}
              {{ row.fy-2 }},
              {{ row.fy-1 }},
              {{ row.fy-0 }},
              {{ row['fy+1'] }}
            {% endif %}
          {% endfor %}
        "
      ></canvas>
    </div>
  </div>
  <div class="desktop-50">
    <div id="aggregateBarChart-wrapper">
      <table class="responsive-table chart-label"><th>{{ page.name }} Operating Budget by Department</th></table>
      <canvas
        id="aggregateBarChart"
        class="barChart"
        width="200"
        height="200"
        data-labels='
        {% comment %}
          {{ page.operating_budget.table_header.fy-2 }},
          {{ page.operating_budget.table_header.fy-1 }},
          {{ page.operating_budget.table_header.fy-0 }},
        {% endcomment %}
          {{ page.operating_budget.table_header["fy+1"] }}
        '
        data='{
          {% for row in page.operating_budget.data %}
            {% if row.line_type == "data" %}
              "{{ row.name | remove: "'" }}":[
                {{ row.fy-2 }},
                {{ row.fy-1 }},
                {{ row.fy-0 }},
                {{ row["fy+1"] }}
              ]{% assign i = forloop.length | minus: 1 %}{% unless forloop.index == i %}, {% endunless %}
            {% endif %}
          {% endfor %}
        }'
      ></canvas>
    </div>
  </div>
  </div>
  <div class="g">
  {% for row in page.operating_budget.data %}
    {% if row.line_type == 'data' %}
      <div class="wi g--4">
        <table class="responsive-table chart-label"><th>{{ row.name }}</th></table>
        <canvas
          id="lineChart"
          class="lineChart"
          width="200"
          height="200"
          data-title=""
          data-labels="
            {{ page.operating_budget.table_header.fy-2 | truncate: 4, "" }},
            {{ page.operating_budget.table_header.fy-1 | truncate: 4, "" }},
            {{ page.operating_budget.table_header.fy-0 | truncate: 4, "" }},
            {{ page.operating_budget.table_header['fy+1'] | truncate: 4, "" }}
          "
          data="{{ row.fy-2 }}, {{ row.fy-1 }}, {{ row.fy-0 }}, {{ row['fy+1'] }}"
        ></canvas>
      </div>
    {% endif %}
  {% endfor %}
  </div>
  <br />
{% endif %}

{% if page.selected_performance_strategies %}
<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
    {{ page.name }} - Performance Goals
  </h2>
</div>
<div class="desktop-100">
    {% for program in page.selected_performance_strategies %}
  <p>
    <h5>{{ program.program }}</h5>
    <ul>
      {% for strategy in program.strategies %}
      <li>{{ strategy }}</li>
      {% endfor %}
    </ul>
  </p>
    {% endfor %}
</div>
<br />
{% endif %}

{% if page.external_funds %}
<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
  {{ page.name }} - External Funds Projects
  </h2>
</div>
{% for fund in page.external_funds %}
  <p>
    <strong>{{ fund.project }}</strong><br />
    {{ fund.project_mission }}
  </p>
{% endfor %}
<br />
{% endif %}

{% if page.authorizing_statutes %}
<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
  {{ page.name }} - Authorizing Statutes
  </h2>
</div>
{% for statute in page.authorizing_statutes %}
<ul>
  <li>{{ statute }}</li>
</ul>
{% endfor %}
{% endif %}

{% if page.department_history_by_account or page.operating_budget %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
  <script src="{{ site.url }}/js/bos-charts.js" type="text/javascript"></script>
{% endif %}
