---
layout: bos_wrapper
---

{% include hero.html %}

<div class="breadcrumb p-t500">
  <nav class="brc" role="navigation">
    <div class="a11y--h"> class="brc-t"&gt;You are here</div>
      <ul class="brc-l">
        <li class="brc-l-i">
          <a href="{{ site.url }}/">Home</a>
          <span class="brc-s"> › </span>
        </li>
        <li class="brc-l-i">
          <a href="{{ site.url }}/operating-budget">Operating Budget</a>
          <span class="brc-s"> › </span>
        </li>
        <li class="brc-l-i">
          <a href="{{ site.url }}/operating-budget/cabinets">Cabinets</a>
          <span class="brc-s"> › </span>
        </li>
        <li class="brc-l-i">
          <a href="{{ site.url }}/operating-budget/cabinets/{{ page.cabinet | replace: "'","" | replace: "&","and" | slugify }}">{{ page.cabinet | truncate: 25 }}</a>
          <span class="brc-s"> › </span>
        </li>
        <li class="brc-l-i">
          <a href="{{ site.url }}/operating-budget/cabinets/{{ page.cabinet | replace: "'","" | replace: "&","and" | slugify }}/{{ page.department | replace: "'","" | replace: "&","and" | slugify }}">{{ page.department | truncate: 25 }}</a>
          <span class="brc-s"> › </span>
        </li>
        <li class="brc-l-i">
          {{ page.name | truncate: 25 }}
        </li>
      </ul>
  </nav>
</div>
<div class="brc-lu">
  Last updated:
  <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2017-04-13T00:00:00-04:00">4/13/17</span>
</div>

<div class="intro clearfix">
  <div class="column mobile-100 desktop-66-left">
    <h1 class="title">{{ page.name }}</h1>
    <div class="squiggle-border-bottom"></div>
    <div class="squiggle-border-bottom">
      <p>
        <div>{{ page.description }}</div>
      </p>
      <br />
    </div>
    <div>
      <h5>
        {% if page.head_name %}<strong><span>{{ page.head_name }}</span>, </strong>{% endif %}
        {% if page.head_title %}<strong><span>{{ page.head_title }}</span>, </strong>{% endif %}
        {% if page.appropriation_code %}<strong><span>{{ page.appropriation_code }}</span></strong>{% endif %}
      </h5>
    </div>
  </div>
  {% include sidebar_menu.html %}
</div>

<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
    {{ page.name }} - Appropriations
  </h2>
  <div class="sh-contact"><a href="{{ site.url }}/operating-budget/cabinets/{{ page.cabinet | replace: "'","" | replace: "&","and" | slugify }}/{{ page.department | replace: "'","" | replace: "&","and" | slugify }}">Back to {{ page.department }}</a></div>
</div>
<br />
<table class="js-table responsive-table responsive-table--horizontal">
  <thead>
    <tr>
      <th>{{ page.program_history_by_account.table_header.line_type }}</th>
      <th class="table-right">{{ page.program_history_by_account.table_header.fy-2 }}</th>
      <th class="table-right">{{ page.program_history_by_account.table_header.fy-1 }}</th>
      <th class="table-right">{{ page.program_history_by_account.table_header.fy-0 }}</th>
      <th class="table-right">{{ page.program_history_by_account.table_header['fy+1'] }}</th>
      <th class="table-right">{{ page.program_history_by_account.table_header.diff }}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in page.program_history_by_account.data %}
        {% if row.line_type == 'total' %}
        <tr class="total">
          <td><strong>{{ row.line_title }}</strong></td>
        {% else %}
        <tr>
          <td data-label="{{ page.program_history_by_account.table_header.line_type }}">{{ row.line_title }}</td>
        {% endif %}
        <td class="table-right" data-label="{{ page.program_history_by_account.table_header.fy-2 }}">{{ row.fy-2 | thousands_separated }}</td>
        <td class="table-right" data-label="{{ page.program_history_by_account.table_header.fy-1 }}">{{ row.fy-1 | thousands_separated }}</td>
        <td class="table-right" data-label="{{ page.program_history_by_account.table_header.fy-0 }}">{{ row.fy-0 | thousands_separated }}</td>
        <td class="table-right" data-label="{{ page.program_history_by_account.table_header["fy+1"] }}">{{ row["fy+1"] | thousands_separated }}</td>
        <td class="table-right" data-label="{{ page.program_history_by_account.table_header.diff }}">{{ row.diff | thousands_separated }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br />

{% if page.performance_strategies %}
<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
    {{ page.name }}
    <br>Performance Goals
  </h2>
</div>
  <div class="desktop-100">
    {% for strategy in page.performance_strategies %}
      <p>
        <h4 style="display: inline;">Goal:</h4><span class="intro-text supporting-text"> {{ strategy.strategy }}</span>
      </p>
      <table class="js-table responsive-table responsive-table--horizontal">
        <thead>
          <tr>
            <th>Measure</th>
            <th class="table-right">{{ strategy.performance_measures[0].table_header.fy-2 }}</th>
            <th class="table-right">{{ strategy.performance_measures[0].table_header.fy-1 }}</th>
            <th class="table-right">{{ strategy.performance_measures[0].table_header.fy-0 }}</th>
            <th class="table-right">{{ strategy.performance_measures[0].table_header["fy+1"] }}</th>
          </tr>
        </thead>
        <tbody>
          {% for row in strategy.performance_measures[0].data %}
            <tr>
              {% if row.line_type == 'total' %}
                <td><strong>{{ row.line_data }}</strong></td>
              {% else %}
              <td>{{ row.line_data }}</td>
              {% endif %}
              <td class="table-right">{{ row.fy-2 }}</td>
              <td class="table-right">{{ row.fy-1 }}</td>
              <td class="table-right">{{ row.fy-0 }}</td>
              <td class="table-right">{{ row["fy+1"] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br /><br />
    {% endfor %}
  </div>
{% endif %}
