---
layout: bos_wrapper
---

{% include hero.html %}

<div class="breadcrumb">
  <a href="/">Home</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="/budget">Budget</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="{{ site.url }}/operating-budget">Operating Budget</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="{{ site.url }}/operating-budget/cabinets">Cabinets</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="{{ site.url }}/operating-budget/cabinets/{{ page.cabinet | replace: "'","" | slugify }}">{{ page.cabinet }}</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="{{ site.url }}/operating-budget/cabinets/{{ page.cabinet | replace: "'","" | slugify }}/{{ page.department | replace: "'","" | slugify }}">{{ page.department }}</a>
  <span class="crumbs-separator"> &gt; </span>
  {{ page.name }}
</div>
<div class="breadcrumb-last-updated">
  Last updated:
  <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2017-04-13T00:00:00-04:00">4/13/17</span>
</div>

<div class="intro clearfix">
  <div class="column mobile-100 desktop-66-left">
    <h1 class="title">{{ page.name }}</h1>
    <div class="squiggle-border-bottom"></div>
    <div class="intro-text supporting-text squiggle-border-bottom">
      <p>
        <div>{{ page.description }}</div>
      </p>
    </div>
      <div class="intro-text supporting-text">
        <b>
          <span>{{ page.head_name }}</span>, <span>{{ page.head_title }}</span>, <span>{{ page.appropriation_code }}</span>
        </b>
      </div>
  </div>
  {% include sidebar_menu.html %}
</div>

{% if page.performance_strategies %}
<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
    {{ page.name }} - Performance
  </h2>
</div>
  <div class="desktop-100">
    {% for strategy in page.performance_strategies %}
      <p class="supporting-text">
        {{ strategy.strategy }}
      </p>
      <table class="js-table responsive-table responsive-table--horizontal">
        <thead>
          <tr>
            <th>{{ strategy.performance_measures[0].table_header["Program Name"] }}</th>
            <th>{{ strategy.performance_measures[0].table_header.fy-2 }}</th>
            <th>{{ strategy.performance_measures[0].table_header.fy-1 }}</th>
            <th>{{ strategy.performance_measures[0].table_header.fy-0 }}</th>
            <th>{{ strategy.performance_measures[0].table_header["fy+1"] }}</th>
          </tr>
        </thead>
        <tbody>
          {% for row in strategy.performance_measures[0].data %}
            <tr>
              {% if row.line_type == 'total' %}
                <td><strong>{{ row.line_data }}</strong></td>
              {% else %}
              <td>{{ row.line_data }}</td>
              {% endif %}
              <td>{{ row.fy-2 }}</td>
              <td>{{ row.fy-1 }}</td>
              <td>{{ row.fy-0 }}</td>
              <td>{{ row["fy+1"] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
    {% endfor %}
  </div>
{% endif %}

<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
    {{ page.name }} - Appropriations
  </h2>
  <div class="sh-contact"><a href="{{ site.url }}/operating-budget/cabinets/{{ page.cabinet | replace: "'","" | slugify }}/{{ page.department | replace: "'","" | slugify }}">Back to {{ page.department }}</a></div>
</div>
<br />
<table class="js-table responsive-table responsive-table--horizontal">
  <thead>
    <tr>
      <th>{{ page.program_history_by_account.table_header.line_type }}</th>
      <th>{{ page.program_history_by_account.table_header.fy-2 }}</th>
      <th>{{ page.program_history_by_account.table_header.fy-1 }}</th>
      <th>{{ page.program_history_by_account.table_header.fy-0 }}</th>
      <th>{{ page.program_history_by_account.table_header['fy+1'] }}</th>
      <th>{{ page.program_history_by_account.table_header.diff }}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in page.program_history_by_account.data %}
        {% if row.line_type == 'total' %}
        <tr class="total">
          <td><strong>{{ row.line_title }}</strong></td>
        {% else %}
        <tr>
          <td>{{ row.line_title }}</td>
        {% endif %}
        <td>{{ row.fy-2 | thousands_separated }}</td>
        <td>{{ row.fy-1 | thousands_separated }}</td>
        <td>{{ row.fy-0 | thousands_separated }}</td>
        <td>{{ row["fy+1"] | thousands_separated }}</td>
        <td>{{ row.diff | thousands_separated }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br />
