---
layout: bos_wrapper
---

{% include hero.html %}

<div class="breadcrumb">
  <a href="/">Home</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="/budget">Budget</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="{{ site.url }}/capital-projects">Capital Projects</a>
  <span class="crumbs-separator"> &gt; </span>
  <a href="{{ site.url }}/capital-projects/{{ page.department | replace: "'","" | slugify }}">{{ page.department }}</a>
  <span class="crumbs-separator"> &gt; </span>
  {{ page.name }}
</div>
<div class="breadcrumb-last-updated">
  Last updated:
  <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2016-04-21T00:00:00-04:00">4/21/16</span>
</div>

<div class="intro clearfix">
  <div class="column mobile-100 desktop-66-left">
    <h1 class="title">{{ page.name }}</h1>
    <div class="intro-text supporting-text squiggle-border-bottom">
      <p>
        {{ page.mission }}
      </p>
    </div>
    <div>
      <strong>{{ page.category }}:</strong>
      {{ page.category_desc }}
    </div>
  </div>
  {% include sidebar_menu.html %}
</div>

<div>
<strong>Location:</strong> {{ page.location }}<br />
<strong>Status:</strong> {{ page.status }}<br />
<strong>Managing Department:</strong> {{ page.managing_department }}<br />
<strong>Operating Impact:</strong> {{ page.operating_impact }}
</div>
<br />

<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
    Expenditures (Actual & Planned)
  </h2>
  <div class="sh-contact">
    <a href="{{ site.url }}/capital-projects/{{ page.department | replace: "'","" | slugify }}">
      Back to {{ page.department }}
    </a>
  </div>
</div>
<br />
<table class="responsive-table responsive-table--horizontal">
  <thead>
    <tr>
      <th>{{ page.expenditures_detail.table_header.source }}</th>
      <th>{{ page.expenditures_detail.table_header.past_spending }}</th>
      <th>{{ page.expenditures_detail.table_header.fy-1 }}</th>
      <th>{{ page.expenditures_detail.table_header.fy-0 }}</th>
      <th>{{ page.expenditures_detail.table_header["fy+1-4"] }}</th>
      <th>{{ page.expenditures_detail.table_header.total }}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in page.expenditures_detail.data %}
      {% if row.line_type == "total" %}
      <tr class="total">
      {% else %}
      <tr>
      {% endif %}
        <td>{{ row.source }}</td>
        <td>{{ row.past_spending | append: 0 | append: 0 | money }}</td>
        <td>{{ row.fy-1 | append: 0 | append: 0 | money }}</td>
        <td>{{ row.fy-0 | append: 0 | append: 0 | money }}</td>
        <td>{{ row["fy+1-4"] | append: 0 | append: 0 | money }}</td>
        <td>{{ row.total | append: 0 | append: 0 | money }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br />

<div class="sh desktop-100">
  <h2 data-short-title="Major buildings" class="sh-title createNavItem-processed">
   Authorizations 
  </h2>
  <div class="sh-contact">
    <a href="{{ site.url }}/capital-projects/{{ page.category | replace: "'","" | slugify }}">
      Back to {{ page.category }}
    </a>
  </div>
</div>
<br />
<table class="responsive-table responsive-table--horizontal">
  <thead>
    <tr>
      <th>{{ page.expenditures_detail.authorizations_table.table_header.source }}</th>
      <th>{{ page.expenditures_detail.authorizations_table.table_header.existing }}</th>
      <th>{{ page.expenditures_detail.authorizations_table.table_header.fy-0 }}</th>
      <th>{{ page.expenditures_detail.authorizations_table.table_header["fy-0++"] }}</th>
      <th>{{ page.expenditures_detail.authorizations_table.table_header.other }}</th>
      <th>{{ page.expenditures_detail.authorizations_table.table_header.total }}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in page.expenditures_detail.authorizations_table.data %}
      {% if row.line_type == "total" %}
      <tr class="total">
      {% else %}
      <tr>
      {% endif %}
        <td>{{ row.source }}</td>
        <td>{{ row.existing | append: 0 | append: 0 | money }}</td>
        <td>{{ row.fy-0 | append: 0 | append: 0 | money }}</td>
        <td>{{ row["fy-0++"] | append: 0 | append: 0 | money }}</td>
        <td>{{ row.other | append: 0 | append: 0 | money }}</td>
        <td>{{ row.total | append: 0 | append: 0 | money }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br />
